<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Duck clicker!</title>
		<script type="text/javascript" src="./angular.min.js"></script>
		<script>

			function duckcontroller($scope,$timeout, $browser) {
				$scope.hasStarted = false;
				$scope.text = "WELCOME TO DUCK CLICKER!";

				$scope.start = function(){
					$scope.started = "Started!"
					$scope.hasStarted = true;
					$scope.clicked = false;
					$scope.canShow = false;
					$scope.score = 0;
					$scope.setTimeOut1();

				}

				$scope.shouldItShow = function(){
					return $scope.hasStarted && !$scope.hasClicked && $scope.canShow;
				}

				$scope.youClicked = function(){
					console.log("clicked");
					$scope.score += 1;
					$scope.hasClicked = true;
				}

				$scope.setTimeOut1 = function(){
					console.log("setTimeOut1");
					$scope.canShow = !$scope.canShow;
					$scope.hasClicked = false;
					$timeout($scope.setTimeOut1, 1500);
				}
			}
		</script>
	</head>
	<body>
		<div ng-controller="duckcontroller" align=center>
			<div>{{text}}</div>
			<button ng-click="start()" ng-show="!hasStarted">Click to Start!</button>
			<div ng-show = "hasStarted">Your score: {{score}}</div>
			<div>{{started}}</div>
			<timer interval="1000"><img ng-click="youClicked()" ng-show="shouldItShow()"  width = "100" src = "duck.gif"></timer>
		</div>
	</body>
</html>
